.Nav {
    background-color: #D6E1EB;
    height: 20%;
    font-size: 20px;
    border: 1px solid black;

}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    width: 50%;
}

a {
    text-decoration: none;
    color: black;

}

.cart-nav {
    display: flex;
    justify-content: center;
    align-items: center;


}